.options-content {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // ✅ Esto reparte el espacio entre hijos
  padding: 16px;
  padding-left: 50px;
  position: relative;
  overflow-x: auto;
  font-family: 'Montserrat Regular', sans-serif;

  .version-text {
    position: static; // ✅ Elimina el posicionamiento absoluto
    text-align: center;
    font-size: 14px;
    color: #087021;
    font-family: 'Montserrat Regular', sans-serif;
    font-weight: 300;
    margin-top: 16px;
  }
}

.smartagent-logo{
    font-family: Passion One;
    font-size: 55px;
    color: #262626;
    margin: 0;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    .number{
        font-family: Passion One;
        color: #087021;
        font-size: 55px;
        line-height: 50px;
        font-style: normal;
    }
}

.powered{
    font-size: 14px;
    color: #3a5596;
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 300;

}


.document-form {
    width: 100%;
    margin-bottom: 24px;
    label{
        color: #087021;
        font-family: Montserrat Semibold;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 4px;
    }
}

ul{
    padding: 0px;
}

::ng-deep {
  .scroll-container {
    max-height: 150px; /* Ajusta según lo necesario */
    overflow-y: auto;
    padding-right: 10px; /* Para evitar que el scroll tape el contenido */
  }

  a {
    color: #087021;
    text-decoration: underline;
}


.document-button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  color: #087021;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
}

.document-button:hover {
  text-decoration: underline;
}

.p-button.logout{
  padding: 8px;
  font-size: 14px;
  background-color: transparent;
  color: #087021;
  text-align: end;
  border-radius: 8px;
  font-family: 'Montserrat Semibold', sans-serif !important;

}
}

@media only screen and (max-width: 1200px) {
    .chat-body .box-chat .msg-section{
        padding: 0px 16px;
    }

    .options-content{
      margin-top: 0px;
  }

}

@media only screen and (max-width: 767px) {
    .options-content{
        margin-top: 0px;


    }
}

@media only screen and (orientation: landscape) {
  .options-content {
    padding-left: 50px !important;
  }
}

@media only screen and (orientation: portrait) {
  .options-content {
    padding-left: 16px !important; // Ajuste para vertical
  }
}

