@import "../../../../../../assets/styles/base/common-styles/modal/modal.scss";
@import "../../../../../../assets/styles/base/common-styles/inputs/inputs.scss";
@import "../../../../../../assets/styles/constants/fonts.scss";
@import "../../../../../../assets/styles/constants/labels.scss";

.body-recovery {
  width: 80%;
  height: 60% !important;
  flex-shrink: 0;

  .header-title{
    text-align: center;
    font-family: $newtoms-bold-fonts;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .subtitle{
    color: #262626;
    text-align: center;
    font-family: $newtoms-bold-fonts;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14px;
    margin-top: 14px;
}

  .modal-header {
    color: #262626;
    font-family: $newtoms-bold-fonts;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 32px;
  }

  .password-recovery{
    width: 75%;

    display: flex;
    align-items: center;
}

.input-title{
  font-family: $newtoms-regular-fonts;
  color: #262626;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


  :host ::ng-deep{

    .p-button.p-button-outlined {
      width: 100%;
    }

    .icon-button {
      background: transparent !important; // Sin fondo
      border: none !important; // Sin borde
      box-shadow: none !important; // Sin sombra
      color: #087021; // Color del ícono, ajústalo si es necesario
      padding: 0; // Sin padding para evitar espacio adicional
      font-size: 1.2rem; // Tamaño del ícono
      margin-left: 8px; // Espacio entre el texto y el ícono
      cursor: pointer;
    }

    .p-button .p-button-icon {
      font-size: 1rem; // Ajusta el tamaño del ícono si es necesario
    }

    @media (max-width: 576px) {
      .body-recovery {
        width: 80%;
        height: 80% !important;
        flex-shrink: 0;
      }

    }
  }

  @media (max-width: 576px) {
    .body-recovery {
      width: 80%;
      height: 80% !important;
      flex-shrink: 0;
    }
  }
}

@media (max-width: 576px) {
  .p-button {
    width: 100%;
  }
}

.newtoms-recovery {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url("../../../../../../assets/icons/recovery.svg");
  mask-image: url('../../../../../../assets/icons/recovery.svg');
  width: 168px;
  height: 98px;
  display: inline-flex;
  background-color: #087021;
}
